<p>buecherverwaltung works!</p>
<router-outlet></router-outlet>


<h1>Bibliothek</h1>

<form (ngSubmit)="addBook()" #bookForm="ngForm">
  <label>
    Titel:
    <input type="text" [(ngModel)]="newBook.titel" name="titel" required />
  </label>
  <label>
    Autor:
    <input type="text" [(ngModel)]="newBook.autor" name="autor" required />
  </label>
  <label>
    Jahr:
    <input type="number" [(ngModel)]="newBook.erscheinungsjahr" name="erscheinungsjahr" required />
  </label>
  <label>
    Verfügbar:
    <select [(ngModel)]="newBook.verfuegbar" name="verfuegbar">
      <option value="J">Ja</option>
      <option value="N">Nein</option>
    </select>
  </label>
  <button type="submit">Buch hinzufügen</button>
</form>

<hr />

<div class="table-responsive mt-4">
  <table class="table table-bordered table-striped align-middle shadow-sm">
    <thead class="table-dark">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Titel</th>
        <th scope="col">Autor</th>
        <th scope="col">Jahr</th>
        <th scope="col">Verfügbar</th>
        <th scope="col">Aktionen</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let book of books">
        <td>{{ book.id }}</td>
        <td>{{ book.titel }}</td>
        <td>{{ book.autor }}</td>
        <td>{{ book.erscheinungsjahr }}</td>
        <td>
          <span class="badge" [ngClass]="book.verfuegbar ? 'bg-success' : 'bg-danger'">
            {{ book.verfuegbar ? 'Ja' : 'Nein' }}
          </span>
        </td>
        <td>
          <button class="btn btn-sm btn-danger" (click)="deleteBook(book.id!)">
            <i class="bi bi-trash"></i> Löschen
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

