<app-navbar></app-navbar>


<div class="d-flex">
    <!-- Sidebar -->
    <nav class="bg-light border-end" id="sidebar">
        <div class="sidebar-header p-3">
            <h4>Navigation</h4>
        </div>
        <ul class="list-unstyled ps-0">
            <li class="mb-3">
                <button type="button" class="btn btn-primary w-100" routerLink="/"
                    routerLinkActive="active">Home</button>
            </li>
             <li class="mb-3">
                <button type="button" class="btn btn-primary w-100" routerLink="/buecherverwaltung"
                    routerLinkActive="active">Bücher</button>
            </li>
       

        </ul>
    </nav>

    <!-- Main Content -->
    <div class="flex-grow-1 p-3">
        <router-outlet></router-outlet>
    </div>
</div>

<app-footer></app-footer>